<header>
    <div>
        <h3>统一建模语言</h3>
    </div>
    <div>
        <div>
            <label><%= data.header.subject%></label>
            <u><%= data.title%></u>
        </div>
        <div>
            <label>时间：</label>
            <u><%= data.header.time%></u>
        </div>

        <div>
            <label>得分： </label>
            <input type="text" id="totalScore" >
        </div>
    </div>

    <div>
        <div>
            <label>班级： </label>
            <input type="text" name="stu_grade" value = <%= stu_grade%>>
        </div>

        <div>
            <label>姓名： </label>
            <input type="text" name="stu_name"  value = <%= stu_name%>>
        </div>

        <div>
            <label>学号： </label>
            <input type="text" name="stu_number"  value = <%= stu_number%>>
        </div>
    </div>
</header>