<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>
<form  action="/" method="post">
    <%- include('partials/header.ejs', getUserInfo()) %>
    <%- include('partials/fill-in-blanks.ejs', { topics:getFillInTopics()}) %>
    <%- include('partials/single.ejs', { topics: getSingleTopics()}) %>
    <%- include('partials/multiple.ejs', { topics: getMultipleTopics()}) %>
    <%- include('partials/judge.ejs', { topics: getJudgeTopics()}) %>
    <%- include('partials/short-answer.ejs', { topics: getShortAnswerTopics()}) %>

    <input type="submit" value="submit">
</form>
</body>

</html>
