<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>统一建模语言</title>
</head>

<body>
<form  action="/" method="post">

    <header>
        <div>
            <h3>统一建模语言</h3>
        </div>
        <div>
            <div>
                <label>科目：</label>
                <u>统一建模语言</u>
            </div>
            <div>
                <label>时间：</label>
                <u>100分钟</u>
            </div>

            <div>
                <label>得分： </label>
                <input type="text" id="totalScore">
            </div>
        </div>

        <div>
            <div>
                <label>班级： </label>
                <input type="text" name="class">
            </div>

            <div>
                <label>姓名： </label>
                <input type="text" name="name">
            </div>

            <div>
                <label>学号： </label>
                <input type="text" name="number">
            </div>
        </div>
    </header>


    <div >
        <div>
            <h4>一、填空题(共20分，每空5分)</h4>
        </div>

        <div>
            <ol>
                <% for(var m= 0; m<topics.length; m++) {%>
                <li>
                    <div>
                        <label><%= topics[m].title%></label>
                        <% for(var n= 0; n<topics[m].options.length; n++){%>
                        <input type="text" name=<%=  topics[m].name%>>
                        <%}%>
                    </div>
                </li>
                <%}%>
            </ol>
        </div>
    </div>





    <div >
        <div>
            <h4>二、选择题(共20分，每题10分)</h4>
        </div>

        <div>
            <ol>
                <% for(var m= 0; m<simpleTopics.length; m++) {%>
                <li>
                    <div>
                        <label><%=  simpleTopics[m].title%></label>
                        <% for(var n= 0; n<simpleTopics[m].options.length; n++){%>
                        <div >
                            <input type="radio" name=<%=  simpleTopics[m].name%>>
                            <%= simpleTopics[m].options[n].describe%>
                        </div>
                        <%}%>
                    </div>
                </li>

               <%}%>
            </ol>
        </div>
    </div>


    <div >
        <div>
            <h4>三、多选题(共20分，每题10分)</h4>
        </div>

        <div>
            <ol>
                <% for(var m= 0; m<multipleTopics.length; m++) {%>
                <li>
                    <div>
                        <label><%=  multipleTopics[m].title%></label>
                        <% for(var n= 0; n<multipleTopics[m].options.length; n++){%>
                        <div >
                            <input type="checkbox" name=<%=  multipleTopics[m].name%>>
                            <%= multipleTopics[m].options[n].describe%>
                        </div>
                        <%}%>
                    </div>
                </li>
                <%}%>
            </ol>
        </div>
    </div>


    <div >
        <div>
            <h4>四、判断题(共20分，每题10分)</h4>
        </div>

        <div>
            <ol>
                <% for(var m= 0; m<judgeTopics.length; m++) {%>
                <li>
                    <div>
                        <label><%=  judgeTopics[m].title%></label>
                        <% for(var n= 0; n<judgeTopics[m].options.length; n++){%>
                        <div >
                            <input type="radio" name=<%=  judgeTopics[m].name%>>
                            <%= judgeTopics[m].options[n].describe%>
                        </div>
                        <%}%>
                    </div>
                </li>

                <%}%>
            </ol>
        </div>
    </div>


    <div >
        <div>
            <h4>五、简答题(共20分)</h4>
        </div>

        <div>
            <ol>

                <% for(var m= 0; m<shortTopics.length; m++) {%>
                <li>
                    <div>
                        <label><%=  shortTopics[m].name%></label>
                        <% for(var n= 0; n<shortTopics[m].options.length; n++){%>
                        <div >
                            <textarea name="5_1" rows="8" cols="40"></textarea>
                        </div>
                        <%}%>
                    </div>
                </li>

                <%}%>
            </ol>
        </div>
    </div>

    <input type="submit" value="submit">
</form>
</body>

</html>
