<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>

  <body>
    <div class="container row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <form action="/" method="post" autocomplete="off">
          <%- include('partials/header.ejs', {userInfo: getUserInfo()}) %>
          <%- include('partials/fill-in-blanks.ejs', {topics:getFillInTopics()}) %>
          <%- include('partials/single.ejs', {topics: getSingleTopics()}) %>
          <%- include('partials/multiple.ejs', {topics: getMultipleTopics()}) %>
          <%- include('partials/judge.ejs', {topics: getJudgeTopics()}) %>
          <%- include('partials/short-answer.ejs', {topics: getShortAnswerTopics()}) %>
          <%- include('partials/modal.ejs')%>
          <div class="container">
            <input type="submit" id="submitButton" class="btn btn-primary btn-lg btn-block"  value="提交"/>
          </div>
        </form>
      </div>
      <div class="col-md-9"></div>
    </div>
  </body>
  <% include partials/jsindex.ejs %>
</html>
